@font-face {
    font-family: "Ember";
    src: url("src/assets/fonts/amazon-ember-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ember";
    src: url("src/assets/fonts/amazon-ember-500.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ember";
    src: url("src/assets/fonts/amazon-ember-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
